@import 'globals/lesshat.less';
@import 'globals/variables.less';
@import 'globals/mixins.less';
@import 'globals/reset.less';

html {
  font-size: 62.5%;
  font-family: 'Raleway';
}

body {
  font-size: 1.4rem;
}

a {
  display: block;
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.view {
  padding: 10px;
}

@import 'components/common/header.less';